header {
    background-attachment: fixed;
    background-image: url("../imgs/alice.jpg");
    background-position: 0 -180px;
    background-size: cover;
}

.navbar-brand, 
.nav li a {
    color: #ffffff;
}
